*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    transform: translate(41%);
    display: flex;
    align-items: center;
}

/* .modal-cart-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: rgba(120, 114, 114, 10%);
    position: fixed;
} */

/* .modal-cart{ */
    /* width: 80%; */
    /* height: 100%;
    max-height: 100%; */
    /* position: absolute; */
    /* transform: translate(13%); */
    /* border-radius: 20px; */
    /* background-color: black; */
    /* padding-top: 25px; */
    /* z-index: -1; */
    /* display: none; */
/* } */

.left-block img{
    height: 90px;
    object-fit: contain;
}

.left-block, .right-block{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.right-block h1, .button{
    margin-right: 10px;
}

.left-block h1{
    margin-left: 10px;
}





.button{
    width: 85px;
    height: 40px;
    background-color: lightgreen;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.button button{
    all: unset;
    font-size: 24px;
} 



.button span{
    margin-top: 8px;
    font-size: 24px;
}

.cart-block{
    width: 60%;
    height: 150px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #c4c4c4;
    background-color: white;
    transform: translate(1%);
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cart{
    width: 100px;
    height: 50px;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 50px;
}

.cart img{
    height: 30px;
    margin: 10px;
}

.bucket{
    text-align: center;
    margin-top: 50px;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.left{
    width: 254px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 17px 0px 0px 45px;
    font-size: 18px;
    /* font-weight: 400; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left span{
    font-weight: bold;
}

.right{
    margin-left: 8px;
    padding-left: 60px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 400px;
    grid-gap: 21px;
    margin-left: 6%;
    margin-top: 65px;
}
.item{
    border: 1px solid black;
}

.images{
    height: 100px;
    margin: 19px 0px 0px 80px;
}

.blackBlock{
    width: 100%;
    height: 275px;
    background-color: black;
    padding: 30px 0px 0px 30px;
}

.h1Text{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.pText{
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: #ffffff;
    opacity: 56%;
    /* margin-bottom: -15px; */
}

.wrap{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.rent{
    color: white;
}

.wrap2{
   width: 45px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.close{
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.btn{
    width: 250px;
    height: 55px;
    border: none;
    color: black;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    font-size: 22px;
}

.active{
    background-color: blue;
    color: white;
}

.inactive{
    background-color: white;
    color: black;
}
